body {
    overflow-x: hidden;
}

.site-menu {
    max-width: 1280px;
    margin: 0 auto;
}

.site-menu li a {
    padding: 0.4em 1em;
}

.site-main .site-main-content {
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.site-footer-content {
    max-width: 1280px;
    margin: 0 auto;
}

.site-footer .pure-g > * {
    box-sizing: border-box;
    padding: 0 1em;
}

.last-posts, .last-tracks {
    box-sizing: border-box;
}

.last-posts {
    padding-left: 1em;
}

.posts-list ul {
    list-style-type: none;
    padding: 0;
}

.posts-list ul {
    line-height: 1.8em;
}

.posts-list li {
    margin: 1em 0;
}

.posts-list li a {
    display: block;
    padding: 0.15em 0 0.25em 0.7em;
}

.posts-list time {
    float: right;
}

.last-tracks {
    padding-right: 1em;
}

.tracks-full-list {
    margin: 0 auto;
    width: 100%;
}

.tools {
    display: none;
}

.js-enabled .tools {
    display: block;
}

.global-map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);

    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.global-map-displayed {
    overflow: hidden;
}

.global-map-displayed .global-map {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
}

.global-map .map-tools {
    position:absolute;
    top: 0;
    right: 0;
    z-index: 110;
    padding: 1em;
}

.global-map .details {
    text-align: center;
}

.global-map .leaflet-popup ul {
    padding-left: 1em;
}

@media screen and (min-width: 48em) {
    .blog-post-meta {
        box-sizing: border-box;
        padding-left: 2em;
    }
}
