body {
    overflow-x: hidden;
}

.site-menu {
    max-width: 1280px;
    margin: 0 auto;
}

.site-menu .site-menu-link {
    padding: 0.4em 1em;
}

.site-main .site-main-content {
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.site-footer .site-footer-content {
    max-width: 1280px;
    margin: 0 auto;
}

.site-footer .site-footer-part {
    box-sizing: border-box;
    padding: 0 1em;
}

.home-banner {
    margin: 0;
}

.home-banner .home-banner-title {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.home-banner .home-banner-text {
    box-sizing: border-box;
    padding: 0.2em;
    display: block;
    position: absolute;
    bottom: 0;
}

.tracks-table {
    margin: 0 auto;
    width: 100%;
}

.tools {
    display: none;
}

.js-enabled .tools {
    display: block;
}

.global-map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.global-map-displayed {
    overflow: hidden;
}

.global-map .map-tools {
    position:absolute;
    top: 0;
    right: 0;
    z-index: 110;
    padding: 1em;
}

.blog-post-meta .blog-post-tags {
    margin: 0;
    padding: 0;
}

.blog-post-meta .blog-post-tags-item {
    display: inline;
}

.blog-post-meta .blog-post-tags-item:after {
    content: ", ";
    padding-right: 0.2em;
}

.blog-post-meta .blog-post-tags-item:last-of-type:after {
    content: "";
}

@media screen and (min-width: 48em) {
    .blog-post .blog-post-meta {
        box-sizing: border-box;
        padding-left: 2em;
    }

    .home-blocks .home-block {
        box-sizing: border-box;
    }

    .home-blocks .pure-u-md-1-2:nth-child(odd) {
        padding-right: 0.6em;
    }

    .home-blocks .pure-u-md-1-2:nth-child(even) {
        padding-left: 0.6em;
    }
}

.track-popup .track-popup-data {
    padding-left: 1em;
}
