body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.img-left {
    float: left;
    margin-right: 1em;
}

.message {
    padding: 0.5em;
    margin: 1em;
}

.site-menu {
    max-width: 1280px;
    margin: 0 auto;
}

.site-menu .site-menu-link {
    padding: 0.4em 1em;
}

.site-menu .menu-text {
    display: none;
    padding-left: 0.3em;
}

.site-menu [class^="icon-"]:before, .site-menu [class*=" icon-"]:before {
    padding: 0;
}

.site-menu .icon-mtb:before {
    padding: 0 0 0 0.3em;
}

.site-menu .icon-treks .menu-text,
.site-menu .icon-tracks .menu-text {
    display: inline-block;
}


@media screen and (min-width: 35.5em) {
    .site-menu .icon-blog .menu-text {
        display: inline-block;
    }
}

@media screen and (min-width: 48em) {
    .site-menu .icon-info .menu-text,
    .site-menu .icon-photo .menu-text {
        display: inline-block;
    }
}

.site-main .site-main-content {
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.site-footer {
    padding-bottom: 1em;
}

.site-footer .site-footer-content {
    max-width: 1280px;
    margin: 0 auto;
}

.site-footer .site-footer-part {
    box-sizing: border-box;
    padding: 0 1em;
}

.site-footer .site-footer-part-title {
    margin-bottom: 0.4em;
}

.home-banner {
    margin: 0;
}

.home-banner .home-banner-title {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.home-banner .home-banner-text {
    box-sizing: border-box;
    padding: 0.2em 0.4em;
    display: block;
    position: absolute;
    bottom: 0;
}

.tracks-table {
    margin: 0 auto;
    width: 100%;
}

.tools {
    display: none;
}

.js-enabled .tools {
    display: block;
}

.global-map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.global-map-displayed {
    overflow: hidden;
}

.global-map .map-tools {
    position:absolute;
    top: 0;
    right: 0;
    z-index: 110;
    padding: 1em;
}

.content-tags {
    margin: 0;
    padding: 0;
}

.content-tags-item {
    display: inline;
}

.content-tags-item:after {
    content: ", ";
    padding-right: 0.2em;
}

.content-tags-item:last-of-type:after {
    content: "";
}

@media screen and (min-width: 48em) {
    .sidebar {
        box-sizing: border-box;
        padding-left: 2em;
    }

    .home-blocks .home-block {
        box-sizing: border-box;
    }

    .home-blocks > .pure-u-md-1-2:nth-child(odd) {
        padding-right: 0.6em;
    }

    .home-blocks > .pure-u-md-1-2:nth-child(even) {
        padding-left: 0.6em;
    }
}

.track-popup .track-popup-data {
    padding-left: 1em;
}

.track-map {
    display: none;
    width: 100%;
}

.js-enabled .track-map {
    display: block;
}

.track-sidebar .track-data {
    width: 100%;
}

.track-sidebar .track-data .track-data-name {
    width: 40%;
}

.track-sidebar-panel .video-container {
    margin-top: 1em;
}

.is-track-app-initialized .track-sidebar {
    overflow: auto;
}

.is-track-app-initialized .track-sidebar .track-sidebar-panel {
    display: none;
}

.is-track-app-initialized .track-sidebar .is-panel-visible {
    display: block;
}

.track-sidebar-tabs {
    display: none;
}

.is-track-app-initialized .track-sidebar-tabs {
    display: block;
}

.track-sidebar-tabs {
    padding: 0 0 0 0.5em;
    margin: 0;
    list-style-type: none;
}

.track-sidebar-tabs .track-sidebar-tabs-item {
    display: inline-block;
}

.track-sidebar-tabs .track-sidebar-tabs-label {
    display: block;
    padding: 0.3em 0.6em;
}

.track-sidebar .track-data {
    margin-top:1em;
}

@media screen and (min-width: 48em) {
    .track-sidebar .page-subtitle {
        display: none;
    }

    .track-sidebar .track-sidebar-panel {
        padding-left: 10px;
    }
}

@media screen and (max-width: 48em) {
    .track-sidebar .track-sidebar-tabs {
        display: none;
    }

    .is-track-app-initialized .track-sidebar .track-sidebar-panel {
        display: block;
    }
}

.track-profile {
    margin-top: 1em;
    position: relative;
}

.track-profile-tooltip {
    display: none;
    width: 1px;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.track-profile-tooltip .track-profile-tooltip-info {
    padding: 0.05em 0.2em;
    position: absolute;
    top: 0;
    left: 0;
}

.track-profile-tooltip .track-profile-tooltip-info.is-tooltip-on-left {
    left: auto;
    right: 1px; /* border */
}

.is-mouse-tracked .track-profile-tooltip {
    display: block;
}

.forecast-day-block {
    margin: 0.5em;
}

@media screen and (max-width: 35.5em) {
    .forecast > .pure-u-1 .forecast-day-block {
        margin: 0.5em 0;
    }
}

@media screen and (min-width: 35.5em) and (max-width: 48em) {
    .forecast > .pure-u-sm-1-2:nth-child(2n) .forecast-day-block {
        margin: 0.5em 0 0.5em 0.5em;
    }

    .forecast > .pure-u-sm-1-2:nth-child(2n+1) .forecast-day-block {
        margin: 0.5em 0.5em 0.5em 0;
    }
}

@media screen and (min-width: 48em) {
    .forecast > .pure-u-md-1-4:nth-child(4n) .forecast-day-block {
        margin: 0.5em 0 0.5em 0.5em;
    }

    .forecast > .pure-u-md-1-4:nth-child(4n+1) .forecast-day-block {
        margin: 0.5em 0.5em 0.5em 0;
    }
}


@media screen and (max-width: 48em) {
    .forecast > .pure-u-1-2:nth-child(2n) .forecast-day-block {
        margin: 0.5em 0 0.5em 0.5em;
    }

    .forecast > .pure-u-1-2:nth-child(2n+1) .forecast-day-block {
        margin: 0.5em 0.5em 0.5em 0;
    }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
    .forecast > .pure-u-md-1 .forecast-day-block {
        margin: 0.5em 0;
    }
}

@media screen and (min-width: 64em) {
    .forecast > .pure-u-lg-1-2:nth-child(2n) .forecast-day-block {
        margin: 0.5em 0 0.5em 0.5em;
    }

    .forecast > .pure-u-lg-1-2:nth-child(2n+1) .forecast-day-block {
        margin: 0.5em 0.5em 0.5em 0;
    }
}

.home-block-forecast .forecast {
    margin-top: -0.5em;
}

.forecast-day {
    margin: 0;
    padding: 0.4em 0.1em 0.4em 0.2em;
}

.forecast-number, .forecast-summary, .forecast-rain {
    padding: 0 0.2em;
}

@media screen and (min-width: 64em) {
    .comment-input-box {
        box-sizing: border-box;
        padding: 0 0.5em;
    }
}

.form-input-required {
    font-weight: bold;
}

.comment-guidelines {
    box-sizing: border-box;
    margin: 0 auto 1em auto;
    width: 85%;
    padding: 0.6em 1em;
}


@media screen and (max-width: 48em) {
    .comment-guidelines {
        width: 95%;
    }
}

.comment-guidelines ul {
    padding: 0;
    margin: 0 0 0 1em
}

.form-button {
    margin-top: 1em;
}

.comment {
    margin-bottom: 1em;
}

.comment-info {
    padding: 0.3em 0.4rem;
    margin: 0 0 0.3em 0;
}

.comment-content {
    line-height: 1.4em;
    padding: 0 0.4rem;
    margin: 0;
}

.social-networks-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-network {
    margin-bottom: 0.3em;
}

.share {
    list-style-type: none;
    padding: 0;
}

.share-item {
    display: inline-block;
    margin-right: 0.3em;
}

.share-button {
    padding-left: 0.3em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 48em) {
    .contact-form {
        width: 95%;;
    }
}

.item-list-date {
    float: right;
}

.tag-cloud {
    margin: 0;
    padding: 0;
}

.tag-cloud .tag {
    display: inline-block;
    margin-right: 4px;
}

.tag-page .contents {
    overflow: hidden;
    margin-top: -1em;
}

@media screen and (min-width: 48em) {
    .tag-page .pure-u-md-2-5 {
        box-sizing: border-box;
        padding-left: 1em;
    }
}

.map-tag {
    height: 300px;
}

.paginator {
    text-align: center;
}

.contents ol, .contents ul {
    list-style-position: inside;
}

.photo-map {
    height: 300px;
}

.photo-main-column {
    text-align: center;
    box-sizing: border-box;
    padding-right: 1em;
}

.photo-next {
    text-align: right;
}

.photo-previous {
    text-align: left;
}

.awesome-marker .map-icon {
    margin: 0.4em 0 0 0;
}

.awesome-marker .map-icon:before {
    padding: 0;
}

.photo-map-popup {
    display: block;
}

.gallery-photo {
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 0.5em solid #fff;
    border-left: 0.5em solid #fff;
}

.gallery-photo img {
    max-width: none;
    display: block;
}

.gallery-photo-first {
    border-left: 0;
}

.gallery-photo-link {
    display: block;
}
