html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family:'Open Sans', Tahoma, Arial, Helvetica, sans-serif;
}

a {
    color: #009;
}

.bubble {
    text-decoration: none;
    color: #fff;
    background: #508d09;
    padding: 0.4em 0.8em;
    border-radius: 3px;
}

.bubble:hover {
    background: #66aa17;
}

body {
    color: #6A696C;
    font-size:15px;
    background: #f5f4f2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-transform: uppercase;
}

.site-menu .back-home {
    text-transform: uppercase;
}

.site-menu .pure-menu-selected {
    background: #6a686b;
}

.site-header, .site-header .site-menu {
    background: #434244;
}

.site-header .site-menu li a {
    color: #ccc;
}

.site-header li a:hover,
.site-header li a:focus {
    background: #508d09;
    color: #fff;
}

.home-title {
    margin: 0;
    background: #c9d6c7;
}

.home-title h1 {
    height: 200px;
    background: url(/assets/img/home.jpg) no-repeat center top;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.home-title .title-text {
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 0.2em;
    font-size: 110%;
    display: block;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.sidebar {
    background: #e8e7e6;
}

.last-posts time {
    color: #8A898C;
    font-size: 90%;
}

.last-posts li a {
    border-left: 5px solid #cbcbcb;
}

.last-posts li a:hover {
    border-color: #508d09;
}
